%h1 Listing Card

%table
  %thead
    %tr
      %th Title
      %th
      %th
      %th

  %tbody
    - @cards.each do |card|
      %tr
        %td= link_to card.prompt, deck_card_path(id: card.id)
        %td= button_to 'Destroy', deck_card_path(@deck, card), method: :delete, data: { :confirm => 'Are you sure?' }

%br

= link_to 'New Card', new_deck_card_path