.card
  .box.panel.card-title-box
    .card-click-area#card
      %h3{id: "front"}=@card.prompt
      %h3{id: "back"}=@card.answer

  -nextIndex = @index + 1
  -previousIndex = @index - 1

  -#Back Button
  -if @index == 0 
    = link_to '', deck_path(@deck.id), class: "btn card-back-btn btn-warning glyphicon glyphicon-arrow-left"
  -else
    = link_to '', deck_card_present_path(@deck.id, previousIndex), class: "btn card-back-btn btn-warning glyphicon glyphicon-arrow-left"

  -#Next Button
  -if @cards.length > nextIndex
    = link_to '', deck_card_present_path(@deck.id, nextIndex), class: "btn card-next-btn btn-primary glyphicon glyphicon-arrow-right"
  -else
    = link_to '', deck_path(@deck.id), class: "btn card-next-btn btn-primary glyphicon glyphicon-arrow-right"