/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body{
	background-color: rgb(241, 241, 241);
  margin-left: 20%;
  margin-right: 20%;
}

.nav > li {
  position: relative;
  display: inline-block;
}

nav {
  .navbar-brand {
    a {
      color: #F7C21A;
      font-weight: bold;
      font-size: 1.6em;
    &:hover {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.hello_user {
  text-decoration: none;
  pointer-events: none;
  cursor: default;
}
.deck-title-box {
  background-color: #ffffff;
  height: 300px;
  width: 500px;
  text-align: center;
    a {
      color: #F7C21A;
    &:hover {
      color: #ffffff;
      text-decoration: none;;
      }
    }
  }
  .card {
    margin: auto auto auto auto;
    padding: 80px 15px 70px 15px;
}
.card-cards {
    color: #F7C21A;
    margin: auto auto auto auto;
    padding: 0px 15px 70px 15px;
}
  
  h2, h3 {
    color: #F7C21A;
  }

.card-title{
  position: relative;
  top:20%;
}

.card-next-btn{
  float: right;
  height: 100%;
}

.card-back-btn{
  float: left;
  height: 100%;
}

.card-btn-glyph{
  top:50%;
}

.card-title-box {
  background-color: #f1f1f1;
  height: 400px;
  width: 80%;
  text-align: center;
    a {
      color: #ffffff;
    &:hover {
      color: #F7C21A;
      text-decoration: none;;
      }
    }
  }

.card-click-area{
  background-color: #ffffff;
}

.show-card-box {
  background-color: #34ff00;
  height: 300px;
  width: 500px;
  text-align: center;
  color: #F7C21A;
  padding: 60px 15px 70px 15px;
    a {
      color: #ffffff;
    &:hover {
      color: #F7C21A;
      text-decoration: none;;
      }
    }
  }
.panel-body {
  h1 {
    color: #F7C21A;
  }
}
.forms-field {
  color: #F7C21A;
  padding: 0 100px 0 100px;
  h1 {
    margin-left: 100px;
  }
}
.deck-button {
  a {
    color: #ffffff;
  &:hover {
    color: #F7C21A;
    }
  }
}

.inner-term{
	display: inline-block;
	width: 100%;
	margin-right: 10px;
}

.term-prompt, .term-answer, .term-buttons{
	display:block;
	white-space: nowrap;
	float:left;
	text-align: right;
	margin: 5px;
	width: 30%;
    height: 30px;
	text-overflow: ellipsis;
}

.term-prompt, .term-answer{
text-align: left;
overflow: hidden;
text-overflow: ellipsis;
}

.my-header{
  display: inline-flex;
}

.my-header-title{
  margin-right: 50%;
}

.wide{
 width: 100%;
}

.card-list{
  margin-right: 0px;
  margin-left: 0px;
}

#card {
  display: block;
  position: absolute;
  width: 55%;
  height: 400px;
  transform-style: preserve-3d;
  transition: transform 0.3s;
  cursor: pointer;
}

#card:focus {
  outline: none;
}

#card figure {
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 2em;
  text-align: center;
  display: block;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#front {
  color: rgb(63, 113, 227);
  top: 125px;
  position: relative;
}

#back {
  color: rgb(108, 171, 241);
  transform: rotateX(180deg);
  position: relative;
  top: 200px;
  display:none;
}

.flipped {
  transform: rotateX(180deg);
}

.button {
  height: 50px;
  width: 100px;
  margin: auto;
  font-size: 1.5em;
  text-align: center;
  line-height: 50px;
  color: white;
  background-color: #e74c3c;
  border-radius: 20px;
  cursor: pointer;
}

#progress {
  font-style: italic;
}

@media only screen and (min-width: 400px) {

  #card figure {
    font-size: 2.5em;
  }
}